# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.iml
node_modules/
.cpcache/
dist/
_NOTES.txt
_TODO*.txt
_SNIPPETS.txt
_LEARN.txt
_README.txt
.nrepl-port
.idea/
backend/pom.xml
target/

tsconfig.tsbuildinfo
terraform.tfstate*
deploy/.terraform
session-token.tmp

secrets/
